<header>
  <nav>
    <a routerLink="/"><img src="/ng4-hn/assets/logo-48.png" alt="HN" class="logo"></a>
    <a routerLink="/top" routerLinkActive="active">Top</a>
    <a routerLink="/new" routerLinkActive="active">New</a>
    <a routerLink="/show" routerLinkActive="active">Show</a>
    <a routerLink="/ask" routerLinkActive="active">Ask</a>
    <a routerLink="/job" routerLinkActive="active">Jobs</a>
    <a href="https://github.com/fe-artisan/ng4-hn" class="github" target="_blank">Built with ng4</a>
  </nav>
</header>

<router-outlet></router-outlet>
