header {
  background-color: #ff6600;
  position: fixed;
  z-index: 999;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;

  >nav {
    max-width: 800px;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 15px 5px;
  }

  a {
    color: rgba(255, 255, 255, 0.75);
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.075em;
    margin-right: 1.8em;
    &:hover {
      color: #fff;
    }
    &.active {
      color: #fff;
    }
    &:nth-child(6) {
      margin-right: 0px;
    }
  }

  .github {
    color: #fff;
    font-size: 0.9em;
    margin: 0;
    float: right;
  }

  .logo {
    width: 24px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  @media (max-width: 860px) {
    nav { padding: 15px 30px; }
  }
  
  @media (max-width: 600px) {
    nav { padding: 15px; }
    a { margin-right: 1em; }
    .github { display: none; }
  }
}