:host {
  position: relative;
  padding-top: 45px;
  max-width: 800px;
  margin: 0px auto;
  display: block;
}

.items-view {
  position: relative;
  padding-top: 45px;
  max-width: 800px;
  margin: 0px auto;
}

.items-nav {
  background-color: #fff;
  border-radius: 2px;
  padding: 15px 30px;
  position: fixed;
  text-align: center;
  top: 55px;
  left: 0;
  right: 0;
  z-index: 998;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  a {
    margin: 0px 1em;
    text-transform: uppercase;
    &.disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }
}

.items-list {
  //background-color: #fff;
  border-radius: 2px;
  position: absolute;
  margin: 30px 0;
  width: 100%;
  @media (max-width: 600px) {
    margin: 10px 0;
  }
}

.busy-indicator {
  position: fixed;
  z-index: 999;
  width: 100%;
  max-width: 800px;
  top: 98px;
  height: 20px;
  @media (max-width: 600px) {
    height: 10px;
    top: 91px;
  }
}